.carousel-caption{
    color: rgb(237, 245, 121);
}
#one{
    background-size: cover;
}


.navbar{
    background-color: cornflowerblue;
}
.rounded-circle{
    width: 5rem;
}

#sid{
    color: rgb(237, 255, 136);
    margin-left: 1rem;
}

.navbar-toggler:hover{
   
    transition: 1.5s;
    
    border-radius: 20px;
}
.navbar-toggler:hover{
    box-shadow: 0 5px 40px 0 #15f4ee inset , 0 5px 40px 0 #fd7d56,
    0 5px 40px 0 #15f4ee inset , 0 5px 40px 0 #f356d9;
    
}

.progress-bar {
    background-color: cornflowerblue;
}
#con1{
    margin-left: 0rem;
    width: cover;
}
#con1 p{
    color: rgb(79, 59, 255);
    width:16rem;
    margin:0rem
}
.tex{
    margin-left: 3rem;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container-fluid{
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: #343F4F;
}
.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: #fff;
  padding-top: 1.8rem;
  font-size: 20px;
  font-weight: 400;
  padding-left: 3rem;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0.0rem;
  background: #343F4F;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

.modal-footer{
    position: absolute;
    
}
